@model IEnumerable<site.model.venda>

@{
    ViewBag.Title = "lista";
}

<h2>lista</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_venda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_pessoal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_produto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.registro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_venda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_pessoal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_produto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.registro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
